body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper{
  display: grid;
  max-width: 1024px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 100px 1fr 100px;
  grid-template-areas: "h h h" 
                       ". c ."   
                       "f f f";
}